:root {
  --background-body-color: #0b1107;
  --background-navbar-color: #caebd6;
  --background-experience-text-box-color: #1a472a;
  --timeline-color: #2a623d;
  --text-navbar-color: #1a472a;
  --text-titles-color: #d6972d;
  --normal-text-font-size: 20px;
  --normal-text-font-family: "Inter";
}

body {
  background-color: var(--background-body-color);
  margin: 0px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20vw 10px 20vw;
  background-color: var(--background-navbar-color);
  color: var(--text-navbar-color);
  font-size: var(--normal-text-font-size);
  font-family: var(--normal-text-font-family), sans-serif;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  z-index: 10000;
}

footer img {
  width: 30px;
}
#navegation {
  display: flex;
  font-weight: 700;
  align-items: center;
}
.navegation-item {
  padding-left: 30px;
}
#title {
  font-weight: 800;
  font-style: normal;
}
main {
  width: 60vw;
  margin: auto;
  padding-top: 70px;
}

.section-image {
  width: 38%;
  display: flex;
  align-items: center;
}
#about-me-image {
  padding: 50px 0px 50px 50px;
}
.section-description {
  width: 58%;
}
.section-image img {
  object-fit: fill;
  width: 100%;
  padding: 50px;
}
h1 {
  color: var(--text-titles-color);
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 15px;
}
h2 {
  color: var(--text-titles-color);
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.timeline * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 100px 0px 100px 0px;
  color: black;
}
.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 2s;
}
.container:nth-child(4) {
  animation-delay: 3s;
}
.container:nth-child(5) {
  animation-delay: 4s;
}
.container:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 20px 30px;
  background: var(--background-experience-text-box-color);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.left-container {
  left: 0;
  padding: 10px 50px 10px 0px;
}
.right-container {
  left: 50%;
  padding: 10px 0px 10px 50px;
}
.experience-image-container {
  position: absolute;
  width: 55px;
  height: 55px;
  right: -30px;
  top: 26px;
  z-index: 10;
  border: 5px solid white;
  background: white;
  padding: 5px;
  border-radius: 100%;
}
.experience-image-container img {
  width: 100%;
}

.right-container .experience-image-container {
  left: -30px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--timeline-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
  border-radius: 10px;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.text-box h2 {
  font-weight: 600;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--background-experience-text-box-color);
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--background-experience-text-box-color);
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

.timeline li {
  margin: 10px 0;
}
.experience-name-job::before {
  content: "~ ";
  font-size: 20px;
  color: var(--text-titles-color);
  font-weight: 700;
}
#my-history {
  display: block;
}
#my-history h1 {
  text-align: center;
}
#history-buttons {
  background: #caebd6;
  display: inline;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}
.buttons {
  margin: 0px 10px;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-navbar-color);
  cursor: pointer;
}
#buttons-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.selected {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid var(--text-titles-color);
}
.invisible {
  display: none;
}

.course-link {
  color: white;
}
